#cursor {
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;

  position: fixed;

  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

#cursor > * {
  z-index: 20;
  opacity: 1;
}

#cursor,
#cursor *,
#particles,
#particles * {
  pointer-events: none;
}

#cursor > .large-circle {
  width: 30px;
  height: 30px;

  border: 2px solid hsl(248, 29%, 75%);
  border-radius: 50%;

  transition: all 250ms ease-out, transform 100ms ease-out, width 50ms ease-out,
    height 50ms ease-out;

  position: fixed;
}

#cursor > .large-circle.click {
  width: 20px;
  height: 20px;
}

#cursor > .large-circle.hidden {
  width: 1px;
  height: 1px;
}

#cursor > .dot {
  border: 2px solid hsl(248, 29%, 75%);
  border-radius: 50%;

  transition: all 250ms ease-out, transform 0ms, border-width 0ms, padding 0ms;

  position: fixed;
}

#cursor > .dot.click {
  opacity: 0;
  border-width: 0;
}

#cursor > .dot.hover {
  padding: 4px;
}

#cursor > .dot.hidden {
  border-width: 0;
}

#cursor > .dot.click.hover {
  padding: 0;
}

#cursor > .hidden {
  opacity: 0;
}

#particles {
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;

  z-index: -1;

  position: fixed;
}

#particles > .particle {
  width: 4px;
  height: 4px;

  background: hsla(248, 29%, 75%, 0.6);
  border-radius: 50%;
  /* border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 4px solid rgba(60, 60, 80, 0.8); */

  transform: translate(-50%, -50%);

  transition: 500ms ease-in, left 250ms ease, top 250ms ease;

  position: fixed;
}
