@font-face {
  font-family: "Roboto-Regular";
  src: url("../resources/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "FiraCode";
  src: url("../resources/fonts/FiraCode-VariableFont_wght.ttf");
}
