@font-face {
  font-family: "FiraCode";
  src: url("../resources/fonts/FiraCode-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Pacifico";
  src: url("../resources/fonts/Pacifico-Regular.ttf");
}
