html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  cursor: none;
}

body {
  background: hsl(252, 11%, 10%);
  color: hsl(252, 11%, 80%);

  padding: 20px 0;

  font-size: 16px;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  font-family: "Roboto-Regular";
}

#main {
  min-height: 100%;

  border: 1px hsl(252, 11%, 20%);
  border-style: none dashed;
}

#main * {
  pointer-events: all;
}

#main > * {
  padding-left: 20px;
}

#main > h1 {
  font-size: 2.2rem;
}

#main > div > * {
  padding-left: 20px;
}

#main > div > h1 {
  font-size: 1.6rem;
}

#main > div > div > * {
  padding-left: 20px;
}

#main > div > div > h1 {
  font-size: 1.2rem;
}

.link {
  color: inherit;
}

li {
  list-style-position: inside;
  padding-left: 10px;
}
